UnityFPS/Library/
UnityFPS/Temp/
/UnityFPS/Library/ArtifactDB
/UnityFPS/Assembly-CSharp-Editor-firstpass.csproj
/UnityFPS/Assembly-CSharp-Editor.csproj
/UnityFPS/Assembly-CSharp-firstpass.csproj
/UnityFPS/Assembly-CSharp.csproj
/UnityFPS/Library/APIUpdater/project-dependencies.graph
/UnityFPS/Library/Artifacts/43/43a8e8a9d47cbadb20935cff312c649f
/UnityFPS/Library/Artifacts/8a/8a774b0c496e88c4133c1a359181ad26
/UnityFPS/Library/Artifacts/cb/cbc35133403b9ea467ece3b808924170
/UnityFPS/Library/Artifacts/fd/fd24c44f0a0e1dce49a1479141900bc8
/UnityFPS/Library/CurrentLayout-default.dwlt
/UnityFPS/Library/InspectorExpandedItems.asset
/UnityFPS/Library/SceneVisibilityState.asset
/UnityFPS/Library/ScriptAssemblies/Assembly-CSharp-Editor-firstpass.dll
/UnityFPS/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll
/UnityFPS/Library/ScriptAssemblies/Assembly-CSharp.dll
/UnityFPS/Library/ScriptAssemblies/Assembly-CSharp.pdb
/UnityFPS/Library/ScriptAssemblies/MapTileGridCreator.dll
/UnityFPS/Library/ScriptAssemblies/MapTileGridCreatorEditor.dll
/UnityFPS/Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
/UnityFPS/Library/ScriptAssemblies/Unity.Rider.Editor.dll
/UnityFPS/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
/UnityFPS/Library/ScriptAssemblies/Unity.TextMeshPro.dll
/UnityFPS/Library/ScriptAssemblies/Unity.Timeline.Editor.dll
/UnityFPS/Library/ScriptAssemblies/Unity.Timeline.dll
/UnityFPS/Library/ScriptAssemblies/Unity.VSCode.Editor.dll
/UnityFPS/Library/ScriptAssemblies/UnityEditor.TestRunner.dll
/UnityFPS/Library/ScriptAssemblies/UnityEditor.UI.dll
/UnityFPS/Library/ScriptAssemblies/UnityEngine.TestRunner.dll
/UnityFPS/Library/ScriptAssemblies/UnityEngine.UI.dll
/UnityFPS/Library/ShaderCache/EditorEncounteredVariants
/UnityFPS/Library/SourceAssetDB
/UnityFPS/Library/StateCache/Hierarchy/8a64d8-mainStage.json
/UnityFPS/Library/StateCache/SceneView/fc39ee-mainStage.json
/UnityFPS/Library/expandedItems
/UnityFPS/Library/shadercompiler-UnityShaderCompiler.exe0.log
/UnityFPS/Library/shadercompiler-UnityShaderCompiler.exe1.log
/UnityFPS/Library/shadercompiler-UnityShaderCompiler.exe2.log
/UnityFPS/Library/shadercompiler-UnityShaderCompiler.exe3.log
/UnityFPS/MapTileGridCreator.csproj
/UnityFPS/MapTileGridCreatorEditor.csproj
/UnityFPS/UnityFPS.sln
